/* Pokemon-Cards & Types*/

.pokemon-type-grass,
.pokemon-card-grass {
  background-color: #0bca979e;
}

.pokemon-type-poison,
.pokemon-card-poison {
  background-color: #8d64d9c4;
}

.pokemon-type-fire,
.pokemon-card-fire {
  background-color: #dc0404c5;
}

.pokemon-type-flying,
.pokemon-card-flying {
  background-color: #3b96e7da;
}

.pokemon-type-water,
.pokemon-card-water {
  background-color: #000268b9;
}

.pokemon-type-bug,
.pokemon-card-bug {
  background-color: #c4a705b7;
}

.pokemon-type-normal,
.pokemon-card-normal {
  background-color: #82dac8b7;
}

.pokemon-type-electric,
.pokemon-card-electric {
  background-color: #ffee0089;
}

.pokemon-type-ground,
.pokemon-card-ground {
  background-color: #ff9705b5;
}

.pokemon-type-fairy,
.pokemon-card-fairy {
  background-color: #eb9ac8b4;
}