/* Pokemon-Cards & Types*/

.pokemon-type-grass,
.pokemon-card-grass, 
.pokemon-dialog.grass {
  background-color: #0bca97;
}

.pokemon-type-poison,
.pokemon-card-poison,
.pokemon-dialog.poison {
  background-color: #8d64d9;
}

.pokemon-type-fire,
.pokemon-card-fire,
.pokemon-dialog.fire {
  background-color: #dc0404;
}

.pokemon-type-flying,
.pokemon-card-flying,
.pokemon-dialog.flying {
  background-color: #3b97e7;
}

.pokemon-type-water,
.pokemon-card-water,
.pokemon-dialog.water {
  background-color: #000268;
}

.pokemon-type-bug,
.pokemon-card-bug,
.pokemon-dialog.bug {
  background-color: #c4a705;
}

.pokemon-type-normal,
.pokemon-card-normal,
.pokemon-dialog.normal {
  background-color: #82dac8;
}

.pokemon-type-electric,
.pokemon-card-electric,
.pokemon-dialog.electric {
  background-color: #ffee00;
}

.pokemon-type-ground,
.pokemon-card-ground,
.pokemon-dialog.ground {
  background-color: #ff9705;
}

.pokemon-type-fairy,
.pokemon-card-fairy,
.pokemon-dialog.fairy {
  background-color: #eb9ac8;
}